.icon_box {
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 20px;
}

@media (max-width:768px) {
    .allText {
        text-align: left;
    }
    .icon_box {
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}