.title_con{
  display:flex;
  height:380px;
  background-image:url("/title.webp");
  background-size:cover;
  background-repeat:no-repeat;
  justify-content:center;
  align-items:center;

}
.title {
    font-family:sans-serif;
    text-align:center;
    text-decoration: none solid rgb(51,51,51);
    font-size:48px;
    font-weight:700;
    line-height:96.68px;

}
.ul_con {
  display:inline;
}
.li_con {
  list-style:none;
  display:inline-block;
  margin-left:10px;
  line-height:26px;
}
.a_home {
  font-family:sans-serif;
  text-decoration:none;
  color:rgb(015,105,105);
  word-spacing:10px;
  font-size:14px;
  font-weight:500;
  letter-spacing:2px;
}
.a_contact span {
  font-size:14px;
  font-family:sans-serif;
 font-weight:600;
 letter-spacing:2px;
}
